body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    font-family: 'Lora', serif;
    text-align: center;
}

h1 {
    font-size: 2.5rem;
    color: #544e45;
    margin-bottom: 20px;
}

h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.pregunta {
    font-size: 1rem;
    margin-bottom: 10px;
}

input[type="text"], button {
    font-size: 1rem;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
}

button {
    font-family: 'Arial', sans-serif;
    font-size: 1rem;
    padding: 8px 16px;
    background-color: #af934c;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.5s;
}

button:hover {
    background-color: #6d592d;
    transition: all 0.5s;
}

.feedback {
    font-size: 1rem;
    margin-top: 10px;
    font-weight: bold;
}

.contador {
    font-size: 1rem;
    margin-top: 10px;
    font-weight: bold;
}

#preguntas {
    padding: 20px;
    background-color: #fafafa;
    border-radius: 5px;
}

#preguntas ol li {
    margin-bottom: 20px;
}

#preguntas ol li ul {
    margin-top: 10px;
}

#aprobado2 {
    font-size: 1.125rem;
    margin-top: 10px;
    color: #4CAF50;
}

.contador.verde {
    color: green;
}

.contenedor {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.actividad {
    display: flex;
    justify-content: space-between;
}

.palabras {
    flex: 1;
    padding-right: 20px;
}

.categorias {
    flex: 1;
}

.titulo {
    font-weight: bold;
    margin-bottom: 10px;
}

.palabra {
    background-color: #eaeaea;
    padding: 10px;
    margin-bottom: 5px;
    cursor: pointer;
}

.categoria {
    margin-top: 20px;
    background-color: #e5e5e5a8;
    padding: 20px;
    border-radius: 13px;
}

#mensajito {
    font-family: 'Lora', serif;
    font-size: 1.125rem;
    margin-top: 20px;
    font-weight: bold;
    color: #4CAF50;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
}

footer a {
    text-decoration: none;
    font-size: 1rem;
    color: #333;
    transition: all 0.6s;
}

footer a:hover {
    color: #af964c;
}

.contenedor {
    display: block;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contenedor ul li{
    list-style: none;
}

.contenedor ul{
    display: grid;
    place-items: center;
}

.button-veri { 
    display: block;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    background-color: #AF934C;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.button-veri:hover {
    background-color: #4f442a;
}

#result {
    text-align: center;
    font-weight: bold;
    margin-top: 20px;
}

.texto-verde {
    color: #45ca4a;
}

.texto-rojo{
    color: red;
}


/*sopa de letras*/
.container-sopa{
    margin-top: 20px;
}

#sopa-letras {
    display: grid;
    grid-template-columns: repeat(10, 50px);
    grid-template-rows: repeat(10, 50px);
    gap: 5px;
}

.letra {
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border: 1px solid black;
    font-size: 1.2em;
}

.correcto {
    background-color: green;
}

.completo {
    color: green;
}



.correct {
    color: green;
    font-weight: bold;
  }
  
  .incorrect {
    color: red;
    font-weight: bold;
  }


.contenido span[contenteditable="true"]:empty::before {
    content: "\00a0\00a0\00a0"; /* Espacio no separable (no-break space) */
    visibility: hidden;
}  

.placeholder {
    border-bottom: 1px solid black;
    padding: 0 5px;
  }